<div class="timeline">
  <div class="timeline__component">
    <div class="timeline__date timeline__date--right">Step 1</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title"><%= link_to "Sign-up / Log-in  NotSoFast", new_user_session_path(), class: "link" %></h2>
    <p class="timeline__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus dolore, minima similique et ab debitis vel esse molestias repudiandae natus quas exercitationem. Ratione officiis dolores nihil quia eum tempore fuga?
    </p>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title"><%= link_to " Add Chrome Extension to loved one's device", new_user_session_path(), class: "link" %></h2>
    <p class="timeline__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorem amet sit ducimus! Corporis expedita sit dolores laboriosam doloribus quis debitis fugiat, dolor ut cupiditate autem perferendis et quibusdam numquam.
    </p>
    <p class="timeline__paragraph">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem illo odio nobis quas corrupti. Harum vero repudiandae molestias aut totam sint earum voluptate provident fugit recusandae. Ad asperiores laboriosam similique?
    </p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">Step 2</div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date timeline__date--right">Step 3</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title"><%= link_to "Handle notifications from there", new_user_session_path(), class: "link" %></h2>
    <p class="timeline__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et adipisci hic fugiat ducimus officia, vero aspernatur qui quae rerum maiores laboriosam doloremque exercitationem quos corporis neque numquam suscipit quisquam reiciendis.
    </p>
  </div>
  <div class="timeline__component timeline__component--bottom timeline__component--bg">
    <h2 class="timeline__title"><%= link_to "Edit block/trust lists", new_user_session_path(), class: "link" %></h2>
    <p class="timeline__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit dolorum ab, impedit voluptatibus perferendis excepturi numquam soluta earum porro vero voluptas eius repellat dolor nobis voluptate pariatur expedita architecto! In!
    </p>
    <p class="timeline__paragraph">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur est quibusdam, quos repellat amet voluptas, excepturi consequuntur id, placeat iste voluptatem saepe dicta eaque iusto odio reprehenderit aliquid blanditiis temporibus.
    </p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
    <div class="timeline__point timeline__point--bottom"></div>
  </div>
  <div class="timeline__component timeline__component--bottom">
    <div class="timeline__date">Step 4</div>
  </div>
</div>
