.btn-primary {
  background-color: #2081C3;
  color: white
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 13px;
  justify-content: flex-end;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-light {
  background: transparent;
  border-width: 0;
  text-decoration: none
}
