.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.card-notification {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(9, 9, 9, 0.2);
  // padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
}

.card-notification h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}  
  
.card-notification .card-notification-infos {
  padding: 16px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: flex-end;
}

.card-notification .card-notification-site {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-notification .card-notification-infos-status {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-notification .card-notification-site-accessdate {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     width: 100%;
//   }
// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    width: 600px;
  }
  .card-notification-infos {
    display: flex;
    justify-content: space-between;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    width: 800px;
  }
  .card-notification-infos {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
  }
  .card-notification-infos {
    justify-content: space-between;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
  }
  .card-notification-infos {
  }
}
