.notifications-container {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  padding: 16px 0px;
  margin: 48px;
  margin-bottom: 188px;
}

body {
  background-color: $not-so-fast-bg;
}

h1 {
  padding-left: 20px;
}

p {
  font-size: 16px;
  opacity: 50%;
  word-break: break-all;
}
