.navbar {
  justify-content: space-between;
  background: white;
  padding: 0px 16px;
  margin: 48px;
  border-radius: 8px;
  height: 72px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  padding: 20px;
  margin-right: 30px;
}

.dropdown-toggle {
  margin-top: 25px
}
