.notification-cards {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(9, 9, 9, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin-right: 8px;
  grid-row: auto;
  overflow: scroll;
  p {
    margin-top: 0px;
    margin-bottom: 1rem;
    align-self: center;
  }
}

.notification-card {
  justify-content: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(9, 9, 9, 0.2);
  border-radius: 10px;
  position: relative;
}

.risk-score-level-one {
  border-right: 32px solid #fff10a;
  &:hover {
    border-right: 60px solid #fff10a;
    transition: .5s ease;
  }
}

.risk-score-level-two {
  border-right: 32px solid #fec208;
  &:hover {
    border-right: 60px solid #fec208;
    transition: .5s ease;
  }
}

.risk-score-level-three {
  border-right: 32px solid #ff2d08;
  &:hover {
    border-right: 60px solid #ff2d08;
    transition: .5s ease;
  }
}

.risk-score-level-four {
  border-right: 32px solid #27251f;
  &:hover {
    border-right: 60px solid #27251f;
    transition: .5s ease;
  }
}

// .overlay {
//   position: absolute;
//   bottom: 0;
//   left: 100%;
//   right: 0;
//   overflow: hidden;
//   width: 0;
//   height: 100%;
//   transition: .5s ease;
// }

.notification-card:hover .notification-card-infos{
  transform: translateY(0%);
  opacity:1;
}

.notification-cards h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 16px;
  align-self: center;

}

.notification-card .card-notification-infos {
  background-color: #FE938C;
  transition: 0.5s;
  transform: translateY(0%);
  opacity: 0;
  p {
    margin-top: 10px;
  }
}

.notification-card .card-notification-infos.show {
  top: 100%;
  bottom: 0;
}

.notification-card .card-notification-site {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.notification-card .card-notification-infos-status {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.notification-card .notification-card-site-bell {
  font-size: 32px;
  margin-left: 56px;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     width: 100%;
//   }
// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    width: 600px;
  }
  .card-notification-infos {
    display: flex;
    justify-content: space-between;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    width: 800px;
  }
  .card-notification-infos {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
  }
  .card-notification-infos {
    justify-content: space-between;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
  }
  .card-notification-infos {
  }
}
