.profile-card {
  background-color: white;
  text-align: center;
  border-radius: 4px;
  height: 400px;
  width: 400px;
}

.profile-card-banner {
  height: 88px;
  width: 400px;
  position: absolute;
  border-radius: 4px 4px 0px 0px;
}
