.sites-container {
  background-color: transparent;
  border-radius: 8px;
  margin: 0 48px 0 48px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


h1 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}
}

.table-striped {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 80vw;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 0;
}

.styled-table thead tr {
  background-color: #f4f8f8;
  border-top-right-radius: 8px;
  text-align: left;
}


.table-striped td {
  background-color: #f4f8f8;
  text-align: start;
  padding-top: 35px;
  padding-left: 20px;
}

.table-striped th {
  background-color: #f4f8f8;
  text-align: start;
  padding: 20px 0 20px 20px;
  padding-left: 20px;
}

.table-striped td:nth-last-child(1) {
padding: 10px;
}

.icon-shadow {
  filter: drop-shadow(2px 4px 6px grey);
  font-size: 32px;
}

.pagination {
  display: flex;
  justify-content: center;
}
