.nav-tabs {
  width: 250px;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #f4f8f8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px 40px;
  margin-right: 0;
  margin-left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: none;
}

.nav-tabs .nav-link {
  color: #495057;
  background-color: #f4f8f8;
  background: 0 0;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 0;
  margin-left: 0;
}

.tab-content {
  width: 400px;
}
