// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
background-image: url("");
}

.page-frame-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-frame-header {
  padding: 0px 8px;
}

.page-frame-body {
  .page-frame-body-right{
    flex-grow: 1;
    overflow: scroll;
    height: 675px;
  }
  .page-frame-body-left {
  }
}

.page-frame-footer {
  padding: 8px;
}

.row {
  width: 100%;
}
